<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= project_name %> Project</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body>

  <div class="col-xs-4 sidebar">
    <div class="scroll">
      <% if (public._data && public._data.timeline && public._data.timeline.length > 0) { %>
        <!-- Make sure we have timeline data -->
        <% var tl = public._data.timeline %>
        <h1><a href="scope.html"><%= project_name %></a></h1>
        <ol class="timeline">
          <% for (var i in tl) {
            var node_class = 'tl-node';
          %>
            <% if (tl[i].stamp.substr(-11) == 'eliverables') node_class += ' deliverable'; %>
            <li class="<%=node_class%>">
              <% if (tl[i].stamp) { %>
                <div class="tl-stamp"><%= tl[i].stamp %></div>
              <% } %>
              <% if (tl[i].content) { %>
                <div class="tl-content"><%= tl[i].content %></div>
              <% } %>
              <% if (tl[i].links) { %>
                <% for (var label in tl[i].links) { %>
                  <% if (label[0] == '>') { %>
                    <a href="<%= tl[i].links[label]%>"><%= label.substr(2) %></a>
                  <% } else { %>
                      <%= label %><br>
                  <% } %>

                <% } %>
              <% } %>
            </li>
          <% } %>
        </ol>
      <% } else { %>
        <!-- Show instructions if there are no timeline items -->
        <div class="instructions">
          <h1>Instructions!</h1>
          <ol>
            <li>Rename <strong>_data-sample.json</strong> to <strong>_data.json</strong></li>
            <li>Update timeline events in the <strong>_data.json</strong> file</li>
            <li>Refresh the browser to make sure it’s working properly</li>
          </ol>
        </div>
      <% } %>
    </div>
  </div>


  <div class="col-xs-7 col-xs-offset-4" id='details'>
    <%- partial("scope") %>
  </div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>